form {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
    width: 96%;
    padding: 5px 10px 5px 10px;
}

legend {
    background-color: white;
    color: rgb(156, 21, 21);
}

fieldset {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 5px;
}

#forms-general-sect {
    display: flex;
    justify-content: space-around;
}

#base_currency_select,
#to_currency_select {
    height: 45px;
    width: 150px;
    border-radius: 10px;
}

#amount {
    height: 38px;
    width: 150px;
    border-radius: 10px;
}

#get_data_btn {
    background-color: rgb(0, 132, 255);
    height: 45px;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: medium;
    box-shadow: 3px 1px 1px grey;
    border-radius: 10px;
}

#get_data_btn:hover {
    background-color: rgb(33, 66, 252);
    cursor: pointer;
}

#get_data_btn:disabled {
    background-color: grey;
}

#get_data_btn:hover:disabled {
    cursor: pointer;
}

.form-btn-row {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.form-row,
label {
    background-color: white;
    border-radius: 10px;
}