html,
body {
    height: 100%;
    min-height: auto;
    width: 99%;
    margin: auto;
    background-color: rgba(199, 213, 253, 0.781);
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

table {
    min-width: 70%;
    max-height: 90%;
    margin: auto;
    margin-top: 1%;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: rgb(194, 194, 194);
}

table th {
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
}

table th,
table td {
    border: 1px white solid;
    text-align: center;
}

#main-container {
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(199, 213, 253, 0.781);
}

header,
footer {
    border: solid black;
    border-radius: 25px;
    text-align: center;
    width: 99%;
    margin: 1% auto 1% auto;
    background-color: rgb(252, 243, 229);
}

#middle-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgba(17, 17, 17, 0.856);
    height: 100%;
    padding: 1.5%;
    padding-bottom: 75px;
    border-radius: 10px;
}

#top-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 212, 212);
    color: black;
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
}

#main-section {
    display: flex;
    flex: 2;
    min-height: 10em;
    margin-top: 6px;
    background-color: rgb(134, 154, 155);
    border-radius: 10px;
}